ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    align-items: center;

}

img:hover {
    width: 376px;
    height: 208px;
    display: block;
}

.modal {
    background-color: rgba(46, 47, 66, 0.8);
    color: rgba(46, 47, 66, 0.8);
}